    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
  
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
            font-size: medium;
        }

        :root {
            --primary-color: #f0f7f8;
            --secondary-color: #cfd8dc;
            --border-radius: 5px;
        }

        .navbar {
            height: 70px;
            background-color: var(--primary-color);
            box-shadow: 0px 0px 10px var(--secondary-color);
            border: none;
            border-radius: var(--border-radius);
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .navitem {
            list-style: none;
            margin: 0rem 3.5rem;
        }

        .navitem:first-child {
            margin-right: auto;
            margin-left: 2rem;
        }

        .navitem a {
            text-decoration: none;
            color: black;
        }

        .btn-pri {
            background-color: #06D6A0;
            border: none;
            border-radius: var(--border-radius);
            padding: 0.2rem 0.6rem;
            cursor: pointer;
            font-size: 1rem;
        }

       .navitem a:hover {
        color: blue;
        text-decoration: underline;
       }

       .navitem button:hover {
            background-color: rgb(175, 175, 179);
        }

        .svg1 {
            margin-top: 3px;
        }